# Byte-compiled / optimized / DLL files
__pycache__/

# Virtual environment
venv/

# IDE & Editor files
.vscode/

# Environment variables
.env

# Distribution / build folders
dist/
build/
*.egg-info/
*.egg

# pytest cache
.pytest_cache/

# VS Code
.vscode/settings.json